body{
   background-color: #022C43;
   margin: 0%;
}

header{
    background-color: #115173;
    padding: 20px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border: 5px black solid;
  z-index: 2;
}

.link{
  text-decoration: none;
  color: #45a049;
}


#about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #053F5E;
    border: black solid;
    padding: 200px;
    margin-top: 400px;

}


#contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #363062;
    border: black solid;
    padding: 200px;
    margin-top: 400px;
}

h2{
    display: flex;
    align-items: flex-start;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .Email {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }